# Python virtual environment
env/
.env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# App log file
video_merger.log

# OS junk
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# FILES 
video_merger_debug.log
